---
layout: main
title: Статии
permalink: blog/
---

<div class="additional">
    {% include navigation.html%}
</div>

<main class="blog blogs">
    <article class="blog-articles temp">
        <img src="{{site.baseurl}}/images/blog-16.jpg" alt="">
    </article>
    <div class="blog-article-description temp">
        <h3>Темп</h3>
        <p>Шахът е спорт с два вида време...</p>
        <a href="{{site.baseurl}}{% post_url 2019-08-05-temp %}">Прочети още...</a>
    </div>
    <article class="blog-articles game">
        <img src="{{site.baseurl}}/images/blog-6.jpg" alt="">
    </article>
    <div class="blog-article-description game">
        <h3>Стадии на шахматната партия</h3>
        <p>Шахматната партия има три стадия - дебют, мителшпил и ендшпил.</p>
        <a href="{{site.baseurl}}{% post_url 2019-08-05-chess-game %}">Прочети още...</a>
    </div>
    <article class="blog-articles mat">
        <img src="{{site.baseurl}}/images/blog-3.jpg" alt="">
    </article>
    <div class="blog-article-description mat">
        <h3>Мат</h3>
        <p>Позициите, в които може да бъде даден мат са най-разнообразни...</p>
        <a href="{{site.baseurl}}{% post_url 2019-08-05-mat %}">Прочети още...</a>
    </div>
   
    <div class="blog-article-description value">
        <a href="{{site.baseurl}}{% post_url 2019-08-05-value %}"></a>
    </div>
    <article class="blog-articles tactic">
        <img src="{{site.baseurl}}/images/blog-5.jpg" alt="">
    </article>
    <div class="blog-article-description tactic">
        <h3>Тактически комбинации</h3>
        <p>Комбинациите
            са последователност от ходове, завършваща с победа...</p>
        <a href="{{site.baseurl}}{% post_url 2019-08-05-tactic %}">Прочети още...</a>
    </div>
    <article class="blog-articles activity">
        <img src="{{site.baseurl}}/images/blog-8.jpg" alt="">
    </article>
    <div class="blog-article-description activity">
        <h3>Активност на фигурите</h3>
        <p>Различните фигури заемат различни позиции спрямо функциите си...</p>
        <a href="{{site.baseurl}}{% post_url 2019-08-05-activity %}">Прочети още...</a>
    </div>
    <article class="blog-articles plan">
        <img src="{{site.baseurl}}/images/blog-11.jpg" alt="">
    </article>
    <div class="blog-article-description plan">
        <h3>План за игра</h3>
        <p>Планът за игра зависи от оценката на позицията...</p>
        <a href="{{site.baseurl}}{% post_url 2019-08-05-plan %}">Прочети още...</a>
    </div>
    <article class="blog-articles structure">
        <img src="{{site.baseurl}}/images/blog-1.jpg" alt="">
    </article>
    <div class="blog-article-description structure">
        <h3>Пешечна структура</h3>
        <p>Пешечната структура представлява броят и мястото на пешките...</p>
        <a href="{{site.baseurl}}{% post_url 2019-08-05-structure %}">Прочети още...</a>
    </div>
    <article class="blog-articles position">
        <img src="{{site.baseurl}}/images/blog-10.jpg" alt="">
    </article>
    <div class="blog-article-description position">
        <h3>Позиция на царя</h3>
        <p>Царят започва партията на една от централните линии...</p>
        <a href="{{site.baseurl}}{% post_url 2019-08-05-position %}">Прочети още...</a>
    </div>
    <article class="blog-articles tournaments">
        <img src="{{site.baseurl}}/images/blog-12.jpg" alt="">
    </article>
    <div class="blog-article-description tournaments">
        <h3>Турнири</h3>
        <p>Шахматните турнири представляват група шахматисти участващи в състезание...</p>
        <a href="{{site.baseurl}}{% post_url 2019-08-05-tournaments %}">Прочети още...</a>
    </div>
    <article class="blog-articles material">
        <img src="{{site.baseurl}}/images/blog-13.jpg" alt="">
    </article>
    <div class="blog-article-description material">
        <h3>Материал</h3>
        <p>Шахматните фигури се различават както по функциите, които изпълняват, така и по сила...</p>
        <a href="{{site.baseurl}}{% post_url 2019-08-05-material %}">Прочети още...</a>
    </div>

    <article class="blog-articles notation">
        <img src="{{site.baseurl}}/images/blog-2.jpg" alt="">
    </article>
    <div class="blog-article-description notation">
        <h3>Нотация</h3>
        <p>Всеки ход има свое кодово име, което позволява шахматната партия да бъде записана...</p>
        <a href="{{site.baseurl}}{% post_url 2019-08-04-notation %}">Прочети още...</a>
    </div>

    <div class="posts-list">
        <h3 class="blog-content-header">Още по темата...</h3>
        <ol class="blog-content">
            {% for post in site.posts%}
            <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
            {%endfor%}
        </ol>
    </div>
    <img src="{{site.baseurl}}/images/blog-14.jpg" alt="" class="background">
</main>