@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Cormorant+Garamond|Lobster|Pacifico|Pattaya&display=swap');

@import url('variables.css');
@import url('responsive.css');
@import url('lessons.css');
@import url('animation.css');
@import url('contacts.css');

*, *::before, *::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Cormorant Garamond', serif;   
}

#body{
    margin: 0;
    font-family: 'Cormorant Garamond', serif;  
    position: relative;
    top: -70px;
    margin-bottom: -183px;
    font-size: var(--font-size-body-big, 18px);
}

.main {
    display: block;
    margin-top: -78px;
}

.main>h1{
    position: relative;
    top: 104px;
}

.additional {
    display: none;
}

h1{
    text-align: center;
    color: goldenrod;
    text-shadow: 1px 4px 3px rgba(0,0,0,0.6);
    font-size: 4rem;
    font-weight: 900;
}

.wrapper-home>header>nav>ul {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
    list-style-type: none;
}

.wrapper-home>header>nav>ul>li {
    padding-top: 25px;
    padding-bottom: 15px;
}

.site-nav>ul>li>a{
    color: goldenrod;
    font-size: 34px;
    text-decoration: none;
    font-weight: 900;
}

.home-main>main{
    background-image: radial-gradient(circle, #222627, #2e3233, #3b3f40, #484c4d, #55595b);
    display: flex;
    justify-content: center;
    margin-bottom: -4em;
}

.second-home-main{
    display: none;
}

.home-main>main>article{
    width: 25%;  
    border: 1px solid gray;
    overflow: hidden;
    border-radius: 20px;
    background: white;
}


.home-main > main > article > div > img{
        width: 100%;
        height: 50%;
        opacity: 0.9;
        margin-bottom: -85px;
}

.home-main > main > article > p{
    text-align: center;
    font-size: var(--font-size-article-pc, 14px);
    margin: 95px 10px 15px 10px;
}

article > button{
    display: none;
}

.wrapper-home{
    background: black;
}

footer {
    background: black;
    height: 80px;
    color: silver;
    font-size: 18px;
}

.site-nav {
    padding-top: 10px;
    background: #222627;
    opacity: 0.8;
}

.site-nav>ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.site-nav>ul>li{
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 3px;
    border-bottom: 3px solid black;
}

.site-nav>ul>li>a{
    padding: 15px;
}

.site-nav>ul>li>a:hover{
    cursor: pointer;
    background: gray;
    border-radius: 25%;
    border-bottom: none;
}

.site-header>h1{
    position: relative;
    bottom: -90px;
    background: transparent;
    margin-top: -80px;
}

.site-header>h1>span{
  font-style: italic;
  font-size: 3rem;
}
.additional{
    display: none;
}


@media all and (max-width: 768px) {
    .no-animation{
        width: 98%;
        margin: auto;
    }

    .img>img{
        height: 350px;
    }
    
    .site-header{
        display: none;
    }
    
    .additional>h1{
        margin-top: -102px;
    }

    .home-main{
        display: none;
    }
    
    .second-home-main{
        display: block;
        background-image: radial-gradient(circle, #222627, #2e3233, #3b3f40, #484c4d, #55595b);
    }
    
    .second-home-main>article{
        width: 100%;
        border-radius: 0;
        border: 1px solid black; 
        margin-bottom: 1rem;
    }
    
    .no-animation{
        background: white;
        margin-bottom: 0.3rem;
        font-size: var(--font-size-article-tablet, 14px);
    }

    body > main > section > div.second-home-main > main > article:nth-child(3){
        margin-bottom: 0;
    }

    .second-home-main > main > article > div > img{
        width: 100%;
    }
    
    body > main > section > div.second-home-main > main > article > p{
        margin: 5px 15px;
        padding: 0;
    }

    .second-home-main > main > article > p {
        margin-top: 5rem;
        margin-bottom: 2px;
        padding-top: 2rem;
    }

    .site-nav{
        padding-top: 0;
        font-size: 16px;
    }

    .site-header>.site-nav{
        display: none;
        padding-top: 0;
        margin-top: 20px;
    }
    
    .main>h1{
        display: none;
    }

    .additional{
        display: block;
    }
    
    .additional > nav > ul{
        flex-direction: column;
        padding-top: 20px;
    }

    .site-nav>ul>li:nth-child(5){
        padding-bottom: 0;
    }

    .additional > nav > ul > li{
        text-align: center;
        margin: 0;
        padding: 30px 0;
        border-bottom: none;
    }

    .additional > nav > ul > li:nth-child(1){
        padding-top: 0px;
        margin-top: 30px;
    }

    .additional > nav > ul > li:nth-child(5){
        margin-bottom: 30px;
    }

    .additional > nav > ul > li>a{
        border-bottom: 3px solid black;
        padding: 20px 150px;
        margin: 0;
    }

    main{
        flex-direction: column;
    }

    .second-home-main > main > article > button{
        display: block;
        width: 47%;
        margin: auto;
        margin-top: 2rem;
        text-align: center;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom: none;
        background-image: linear-gradient(to right bottom, #393838, #504f4f, #696767, #828181, #9d9b9b);
        font-family: 'Lobster', cursive;
        padding: 15px 3px 15px 3px;
    }
    
    .second-home-main > main > article > button>a{
        font-size: 1.2rem;
        text-align: center;
        font-weight: 800;
        text-decoration: none;
        color: goldenrod;
        letter-spacing: 4px;
     }  

}


/**Wrapper**/
@media all and (max-width: 1800px) {
    .wrapper{
        width: 100%;
        margin-bottom: -10px;
    }
    .wrapper>img{
        width: 100%;
        height: 25em;
    }
}

@media all and (max-width: 768px) {
    .wrapper>img{
        padding-top: 45px;
    }
}

@media all and (max-width: 680px) {
    .wrapper>img{
        width: 100%;
        height: 22em;
    }

    .additional>h1 {
        bottom: -20rem;
        
    }
}

@media all and (max-width: 480px) {
    .no-animation{
        width: 94%;
        margin: auto;
    }

    body > main > section > div.second-home-main > main > article:nth-child(2){
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .img>img{
        height: 210px;
    }

    .wrapper>img{
        width: 100%;
        height: 18em;
        padding-top: 75px;
    }

    .site-header>h1 {
        display: inline;
        margin: auto;
        bottom: -17rem;
        font-size: 2.5rem;
    }

    .additional > nav > ul > li>a{
        border-bottom: 3px solid black;
        padding: 10px 50px;
        margin: 0;
        font-size: 26px;
    }
}

@media all and (max-width: 380px) {
    .wrapper>img{
        width: 100%;
        height: 16em;
    }

    .additional>h1 {
        font-size: 2.8rem;
        margin-top: -75px;
        margin-bottom: 15px;
    }

    .additional > nav > ul {
        margin-top: 0;
    }
}


@media all and (max-width: 275px) {
    .additional>h1 {
        font-size: 2.1rem;
    }
}
