.img-1 { 
    -webkit-animation: first ease 4.8s; 
            animation: first ease 4.8s; 
    -webkit-animation-iteration-count: 1; 
            animation-iteration-count: 1; 
    -webkit-animation-fill-mode: forwards; 
            animation-fill-mode: forwards; 
} 

@-webkit-keyframes first { 
    0% { 
        transform: translateX(-120px) translateY(-520px);
    } 
    100% { 
        transform: translateX(-40px) translateY(-220px);
     } 
} 

@keyframes first { 
    0% { 
        transform: translateX(-120px) translateY(-520px);
    } 
    100% { 
        transform: translateX(-40px) translateY(-220px);
     } 
} 

.img-2 { 
    -webkit-animation: second ease 3.8s; 
            animation: second ease 3.8s; 
    -webkit-animation-iteration-count: 1; 
            animation-iteration-count: 1; 
    -webkit-animation-fill-mode: forwards; 
            animation-fill-mode: forwards; 
} 
  
@-webkit-keyframes second { 
    0% { 
        transform: translateX(-80px) translateY(-460px);
    } 
    100% { 
        transform: translateX(0px) translateY(-160px);
     } 
} 
  
@keyframes second { 
    0% { 
        transform: translateX(-80px) translateY(-460px);
    } 
    100% { 
        transform: translateX(0px) translateY(-160px);
     } 
}

.img-3 { 
    -webkit-animation: third ease 2.8s; 
            animation: third ease 2.8s; 
    -webkit-animation-iteration-count: 1; 
            animation-iteration-count: 1; 
    -webkit-animation-fill-mode: forwards; 
            animation-fill-mode: forwards; 
} 

@-webkit-keyframes third { 
    0% { 
        transform: translateX(-70px) translateY(-400px);
    } 
    100% { 
        transform: translateX(50px) translateY(-100px);
     } 
} 

@keyframes third { 
    0% { 
        transform: translateX(-70px) translateY(-400px);
    } 
    100% { 
        transform: translateX(50px) translateY(-100px);
     } 
} 

.knight{
    
    -webkit-animation: knight 4s both linear;
    
            animation: knight 4s both linear;
    -webkit-animation-iteration-count: 2;
            animation-iteration-count: 2;
    -webkit-animation-play-state: paused;
            animation-play-state: paused; 
}

.knight:hover{
    -webkit-animation-play-state: running;
            animation-play-state: running;
}

@-webkit-keyframes knight{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateY(-40px);
    }
    50%{
        transform: translateY(-40px) translateX(120px);
    }
    75%{
        transform: translateY(-40px) translateX(0);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes knight{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateY(-40px);
    }
    50%{
        transform: translateY(-40px) translateX(120px);
    }
    75%{
        transform: translateY(-40px) translateX(0);
    }
    100%{
        transform: translateX(0);
    }
}

