.lessons{
    background-image: radial-gradient(circle, #9aa0aa, #a3a8b0, #acb0b7, #b5b8bd, #bec0c4);
    display: flex;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
    padding-top: 20px;
}

.articles>article{
    margin-top: 40px;
    width: 28%;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 13px;
}

.articles>article>p{
    width: 85%;
    font-size: 1.2rem;
    margin: 7px 0 2rem 30px;
}

.articles>article>img{
    width: 20%;
    height: 20%;
}

.articles-additional{
    display: none;
}

body > main > section > main > div.articles.additional{
    margin-bottom: 0;
}

buttons{
    margin-right: 0;
}
@media all and (max-width: 800px){
    .articles{
        display: none;
    }

    .additional-buttons{
        display: none;
    }

    .articles.additional{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .articles>article{
        margin-top: 0.8rem;
        margin-bottom: 2px;
        width: 50%;
        justify-content: space-evenly;
        text-align: center;
    }

    .articles.additional > article{
        margin-top: 50px;
    }

    .articles>article>p{
        width: 85%;
        padding-bottom: 20px;
        font-size: var(--font-size-article-tablet, 14px);
    }
    
    .articles>article>img{
        width: 18%;
        height: 22%;
    }

    .articles>article>p{
        margin-bottom: 0;
    }
}

@media all and (max-width: 600px){
    .articles.additional > article{
        margin-top: 20px;
    }

   .articles.additional > article > img{
        width: 18%;
        height: 20%;
    }
}

@media all and (max-width: 480px){
    .additional-buttons{
        display: flex;
        justify-content: center;
    }

    .additional-buttons>button{
        width: 33%;
        margin-top: 2rem;
        margin-right: 0;
        margin-left: 0;
        text-align: center;
        border: none;
        background-image: linear-gradient(to right bottom, #393838, #504f4f, #696767, #828181, #9d9b9b);
        font-family: 'Lobster', cursive;
        padding: 15px 3px;
    }
    
    .additional-buttons>button>a{
        font-size: 1.2rem;
        text-align: center;
        font-weight: 800;
        text-decoration: none;
        color: goldenrod;
        letter-spacing: 4px;
     }  

    .articles.additional > article > img{
        width: 18%;
        height: 40%;
    }

    .articles>article{
        width: 100%;
        margin: auto;
        padding-top: 55px;
        border-bottom: 2px solid black;
    }

    .articles>article>p{
        margin-top: 25px;
    }

    .main-button{
        display: flex;
    }
}

@media all and (max-width: 400px){
    .articles.additional > article > img{
        width: 18%;
        height: 25%;
    }

    .articles.additional > article > p{
        font-size: 18px;
        margin-left: 10px;
    }

    .additional-buttons>button>a{
        font-size: 0.8rem;
    }
}