@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans|Cormorant+Garamond|Lobster|Pacifico|Pattaya&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Cormorant Garamond', serif; }

#body {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  position: relative;
  top: -70px;
  margin-bottom: -183px;
  font-size: var(--font-size-body-big, 18px); }

body {
  --font-size-article-tablet: 18px;
  --font-size-article-pc: 1.2rem;
  --main-background: radial-gradient(circle, #9aa0aa, #a3a8b0, #acb0b7, #b5b8bd, #bec0c4);
  --index-page-background: radial-gradient(circle, #222627, #2e3233, #3b3f40, #484c4d, #55595b);
  --button-background: linear-gradient(to right bottom, #393838, #504f4f, #696767, #828181, #9d9b9b); }

.img-1 {
  -webkit-animation: first ease 1.8s;
          animation: first ease 1.8s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0; }

.img-2 {
  -webkit-animation: second ease 1.8s;
          animation: second ease 1.8s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0; }

.img-3 {
  -webkit-animation: third ease 1.8s;
          animation: third ease 1.8s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0; }

.img-4 {
  -webkit-animation: forth ease 1.8s;
          animation: forth ease 1.8s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0; }

@-webkit-keyframes first {
  0% {
    transform: translateX(-330px) translateY(-460px); }
  100% {
    transform: translateX(-40px) translateY(-200px);
    opacity: 1; } }

@keyframes first {
  0% {
    transform: translateX(-330px) translateY(-460px); }
  100% {
    transform: translateX(-40px) translateY(-200px);
    opacity: 1; } }

@-webkit-keyframes second {
  0% {
    transform: translateX(-330px) translateY(-460px); }
  100% {
    transform: translateX(10px) translateY(-200px);
    opacity: 1; } }

@keyframes second {
  0% {
    transform: translateX(-330px) translateY(-460px); }
  100% {
    transform: translateX(10px) translateY(-200px);
    opacity: 1; } }

@-webkit-keyframes third {
  0% {
    transform: translateX(-330px) translateY(-460px); }
  100% {
    transform: translateX(60px) translateY(-200px);
    opacity: 1; } }

@keyframes third {
  0% {
    transform: translateX(-330px) translateY(-460px); }
  100% {
    transform: translateX(60px) translateY(-200px);
    opacity: 1; } }

@-webkit-keyframes forth {
  0% {
    transform: translateX(-330px) translateY(-460px); }
  100% {
    transform: translateX(110px) translateY(-200px);
    opacity: 1; } }

@keyframes forth {
  0% {
    transform: translateX(-330px) translateY(-460px); }
  100% {
    transform: translateX(110px) translateY(-200px);
    opacity: 1; } }

/***RETURN STATE***/
@-webkit-keyframes out {
  to {
    transform: translateY(0); } }
@keyframes out {
  to {
    transform: translateY(0); } }

.bishop,
.king,
.queen,
.rook,
.pawn,
.knight {
  -webkit-animation: out 2s;
          animation: out 2s; }

/*********Knight********/
.knight:target,
.knight:active,
.knight:focus,
.knight:hover {
  -webkit-animation-name: knight-in;
          animation-name: knight-in;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes knight-in {
  0% {
    transform: translateX(0); }
  10% {
    transform: translateY(-40px); }
  20% {
    transform: translateY(-40px) translateX(60px); }
  30% {
    transform: translateY(-40px) translateX(0); }
  40% {
    transform: translateX(0); }
  50% {
    transform: translateY(-40px); }
  60% {
    transform: translateY(-40px) translateX(-60px); }
  70% {
    transform: translateY(-40px) translateX(0); }
  80% {
    transform: translateX(0); } }

@keyframes knight-in {
  0% {
    transform: translateX(0); }
  10% {
    transform: translateY(-40px); }
  20% {
    transform: translateY(-40px) translateX(60px); }
  30% {
    transform: translateY(-40px) translateX(0); }
  40% {
    transform: translateX(0); }
  50% {
    transform: translateY(-40px); }
  60% {
    transform: translateY(-40px) translateX(-60px); }
  70% {
    transform: translateY(-40px) translateX(0); }
  80% {
    transform: translateX(0); } }

/*********Pawn*********************/
.pawn:target,
.pawn:active,
.pawn:focus,
.pawn:hover {
  -webkit-animation-name: pawn-in;
          animation-name: pawn-in;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes pawn-in {
  0% {
    transform: translateX(0); }
  15% {
    transform: translateY(-40px); }
  30% {
    transform: translateY(0); }
  45% {
    transform: translateY(-40px) translateX(60px); }
  60% {
    transform: translateY(0); }
  75% {
    transform: translateY(-40px) translateX(-60px); }
  100% {
    transform: translateY(0); } }

@keyframes pawn-in {
  0% {
    transform: translateX(0); }
  15% {
    transform: translateY(-40px); }
  30% {
    transform: translateY(0); }
  45% {
    transform: translateY(-40px) translateX(60px); }
  60% {
    transform: translateY(0); }
  75% {
    transform: translateY(-40px) translateX(-60px); }
  100% {
    transform: translateY(0); } }

/****************Rook********************/
.rook:target,
.rook:active,
.rook:focus,
.rook:hover {
  -webkit-animation-name: rook-in;
          animation-name: rook-in;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes rook-in {
  0% {
    transform: translateX(0); }
  20% {
    transform: translateY(-40px); }
  35% {
    transform: translateY(0); }
  50% {
    transform: translateX(40px); }
  65% {
    transform: translateX(0); }
  80% {
    transform: translateX(-40px); }
  100% {
    transform: translateX(0); } }

@keyframes rook-in {
  0% {
    transform: translateX(0); }
  20% {
    transform: translateY(-40px); }
  35% {
    transform: translateY(0); }
  50% {
    transform: translateX(40px); }
  65% {
    transform: translateX(0); }
  80% {
    transform: translateX(-40px); }
  100% {
    transform: translateX(0); } }

/****************Queen********************/
.queen:target,
.queen:active,
.queen:focus,
.queen:hover {
  -webkit-animation-name: queen-in;
          animation-name: queen-in;
  -webkit-animation-duration: 6.5s;
          animation-duration: 6.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes queen-in {
  0% {
    transform: translateX(0); }
  10% {
    transform: translateY(-40px); }
  20% {
    transform: translateY(0); }
  30% {
    transform: translateX(40px); }
  40% {
    transform: translateX(0); }
  50% {
    transform: translateX(-40px); }
  60% {
    transform: translateX(0); }
  70% {
    transform: translateY(-40px) translateX(60px); }
  80% {
    transform: translateY(0); }
  90% {
    transform: translateY(-40px) translateX(-60px); }
  100% {
    transform: translateY(0); } }

@keyframes queen-in {
  0% {
    transform: translateX(0); }
  10% {
    transform: translateY(-40px); }
  20% {
    transform: translateY(0); }
  30% {
    transform: translateX(40px); }
  40% {
    transform: translateX(0); }
  50% {
    transform: translateX(-40px); }
  60% {
    transform: translateX(0); }
  70% {
    transform: translateY(-40px) translateX(60px); }
  80% {
    transform: translateY(0); }
  90% {
    transform: translateY(-40px) translateX(-60px); }
  100% {
    transform: translateY(0); } }

/****************King********************/
.king:target,
.king:active,
.king:focus,
.king:hover {
  -webkit-animation-name: king-in;
          animation-name: king-in;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes king-in {
  0% {
    transform: translateX(0); }
  10% {
    transform: translateX(-40px); }
  20% {
    transform: translateX(0); }
  30% {
    transform: translateY(-40px) translateX(-40px); }
  40% {
    transform: translateX(0); }
  50% {
    transform: translateY(-40px) translateX(0); }
  60% {
    transform: translateX(0); }
  70% {
    transform: translateY(-40px) translateX(40px); }
  80% {
    transform: translateX(0); }
  90% {
    transform: translateY(0) translateX(40px); }
  100% {
    transform: translateX(0); } }

@keyframes king-in {
  0% {
    transform: translateX(0); }
  10% {
    transform: translateX(-40px); }
  20% {
    transform: translateX(0); }
  30% {
    transform: translateY(-40px) translateX(-40px); }
  40% {
    transform: translateX(0); }
  50% {
    transform: translateY(-40px) translateX(0); }
  60% {
    transform: translateX(0); }
  70% {
    transform: translateY(-40px) translateX(40px); }
  80% {
    transform: translateX(0); }
  90% {
    transform: translateY(0) translateX(40px); }
  100% {
    transform: translateX(0); } }

/****************Bishop********************/
.bishop:target,
.bishop:active,
.bishop:focus,
.bishop:hover {
  -webkit-animation-name: bishop-in;
          animation-name: bishop-in;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes bishop-in {
  0% {
    transform: translateX(0); }
  25% {
    transform: translateY(-40px) translateX(50px); }
  50% {
    transform: translateX(0); }
  75% {
    transform: translateY(-40px) translateX(-50px); }
  100% {
    transform: translateX(0); } }

@keyframes bishop-in {
  0% {
    transform: translateX(0); }
  25% {
    transform: translateY(-40px) translateX(50px); }
  50% {
    transform: translateX(0); }
  75% {
    transform: translateY(-40px) translateX(-50px); }
  100% {
    transform: translateX(0); } }

/****************Pen********************/
.pencil:hover {
  -webkit-animation-name: pencil;
          animation-name: pencil;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes pencil {
  0% {
    transform: translateX(0); }
  20% {
    transform: translateY(-16px) translateX(8px); }
  30% {
    transform: translateY(12px) translateX(14px); }
  40% {
    transform: translateY(-7px) translateX(20px); }
  50% {
    transform: translateY(7px) translateX(26px); }
  60% {
    transform: translateY(-7px) translateX(32px); }
  70% {
    transform: translateY(7px) translateX(38px); }
  80% {
    transform: translateY(-10px) translateX(15px); }
  90% {
    transform: translateY(16px); }
  100% {
    transform: translateX(0); } }

@keyframes pencil {
  0% {
    transform: translateX(0); }
  20% {
    transform: translateY(-16px) translateX(8px); }
  30% {
    transform: translateY(12px) translateX(14px); }
  40% {
    transform: translateY(-7px) translateX(20px); }
  50% {
    transform: translateY(7px) translateX(26px); }
  60% {
    transform: translateY(-7px) translateX(32px); }
  70% {
    transform: translateY(7px) translateX(38px); }
  80% {
    transform: translateY(-10px) translateX(15px); }
  90% {
    transform: translateY(16px); }
  100% {
    transform: translateX(0); } }

@media all and (max-width: 1800px) {
  .additional > .site-nav {
    display: none; }
  .wrapper {
    width: 100%;
    margin-bottom: -10px; }
  .wrapper > img {
    width: 100%; } }

h1 {
  text-align: center;
  color: goldenrod;
  text-shadow: 1px 4px 3px rgba(0, 0, 0, 0.6);
  font-size: 4rem;
  font-weight: 900; }

.second-home-main,
.additional > h1 {
  display: none; }

.wrapper {
  margin-top: -78px; }
  .wrapper > img {
    height: 550px; }

.main > h1 {
  position: relative;
  top: 25px; }

.site-nav {
  background: #222627;
  opacity: 0.8; }
  .site-nav > ul {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
    list-style-type: none; }
    .site-nav > ul > li {
      padding: 25px 0 15px 0;
      margin: 25px 0 15px 0;
      padding: 3px;
      border-bottom: 3px solid black; }
      .site-nav > ul > li > a {
        color: goldenrod;
        font-size: 34px;
        text-decoration: none;
        font-weight: 900;
        padding: 15px; }

.site-nav > li.selected > a,
.site-nav > ul > li > a:hover {
  cursor: pointer;
  background: gray;
  border-radius: 25%;
  border-bottom: none; }

.home-main {
  background-image: var(--index-page-background); }
  .home-main > main {
    display: flex;
    justify-content: center;
    margin-bottom: -10em; }
    .home-main > main > article {
      width: 15%;
      border: 1px solid gray;
      overflow: hidden;
      border-radius: 20px;
      background: white; }
      .home-main > main > article > div > img {
        width: 100%;
        height: 120px;
        opacity: 0.9; }
      .home-main > main > article > p {
        font-size: var(--font-size-article-pc, 14px);
        text-align: right;
        margin: 0 10px 15px 10px; }

footer {
  background: black;
  color: silver;
  font-size: 18px;
  padding-bottom: 25px; }
  footer > nav > ul {
    padding-top: 15px;
    padding-left: 20px;
    list-style-type: none; }

@media all and (max-width: 800px) {
  .main > h1,
  .home-main,
  .site-header {
    display: none; }
  .additional > .site-nav {
    display: block; }
  .wrapper {
    margin-top: -78px; }
    .wrapper > img {
      height: 400px;
      padding-top: 80px; }
  .additional > h1 {
    display: block;
    margin-top: -105px; }
  .additional {
    display: block;
    margin: auto; }
    .additional > .site-nav {
      margin: auto; }
      .additional > .site-nav > ul {
        flex-direction: column;
        padding-bottom: 20px;
        padding-top: 30px; }
        .additional > .site-nav > ul > li {
          margin: 0;
          padding: 20px 5px;
          border-bottom: none;
          text-align: center; }
          .additional > .site-nav > ul > li > a {
            border-bottom: 3px solid black;
            margin: 0;
            width: 50%;
            font-size: 30px; }
  .second-home-main {
    display: block;
    background-image: var(--index-page-background); }
  .second-home-main > main {
    padding-top: 0;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 445px);
    grid-gap: 5px; }
    .second-home-main > main > article {
      border: 1px solid black;
      border-radius: 20px;
      overflow: hidden;
      background: white; }
      .second-home-main > main > article > .img > img {
        width: 100%;
        height: 200px; }
      .second-home-main > main > article > .txt {
        height: 100px; }
        .second-home-main > main > article > .txt > p {
          font-size: var(--font-size-article-tablet, 14px);
          padding-left: 20px; }
      .second-home-main > main > article > .main-button {
        display: block;
        margin-top: 80px;
        text-align: center; }
        .second-home-main > main > article > .main-button > button {
          width: 70%;
          text-align: center;
          border-radius: 25px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          background-image: var(--button-background);
          font-family: 'Lobster', cursive;
          padding: 15px 3px; }
          .second-home-main > main > article > .main-button > button > a {
            font-size: 1.2rem;
            font-weight: 800;
            text-decoration: none;
            color: goldenrod;
            letter-spacing: 4px; } }

@media all and (max-width: 640px) {
  .additional > .site-nav > ul > li > a {
    font-size: 30px; }
  .wrapper > img {
    height: 340px; } }

@media all and (max-width: 480px) {
  .wrapper > img {
    padding-top: 60px; }
  .second-home-main > main {
    display: block; }
    .second-home-main > main > article {
      border-radius: 0;
      border: 1px solid black;
      width: 99%; }
      .second-home-main > main > article > img {
        height: 210px; }
  .site-header > h1 {
    display: inline;
    margin: auto;
    bottom: -17rem;
    font-size: 2.5rem; } }

@media all and (max-width: 380px) {
  .additional > h1 {
    font-size: 2.8rem;
    margin-top: -75px;
    margin-bottom: 15px; }
  .wrapper > img {
    height: 240px; } }

@media all and (max-width: 275px) {
  .additional > h1 {
    font-size: 2.1rem; } }

@media all and (max-width: 1800px) {
  .lessons {
    background-image: var(--main-background); }
  .chess-article-laptop {
    display: none; }
  header {
    display: block; }
  .articles {
    padding-top: 70px;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(2, 300px);
    grid-gap: 35px; }
    .articles > article > p {
      font-size: 1.2rem; }
    .articles > article > img {
      width: 17%;
      height: 30%; }
    .articles-additional {
      display: none; }
  .main-button {
    display: none; } }

@media (max-width: 960px) {
  .articles {
    grid-template-rows: repeat(2, 350px); }
    .articles > article > img {
      width: 22%;
      height: 18%; } }

@media (max-width: 800px) {
  .articles {
    display: none; }
  .additional-buttons {
    display: none; }
  .chess-article-laptop {
    padding-top: 0;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 430px);
    grid-gap: 5px; }
    .chess-article-laptop > article {
      border: 1px solid black;
      border-radius: 20px;
      overflow: hidden;
      padding-top: 70px; }
      .chess-article-laptop > article > div {
        padding-top: 10px; }
        .chess-article-laptop > article > div > p {
          margin: 20px 20px;
          justify-content: center;
          font-size: var(--font-size-article-tablet, 14px); }
      .chess-article-laptop > article > img {
        width: 16%;
        height: 22%; } }

@media (max-width: 480px) {
  .chess-article-laptop {
    display: block; }
    .chess-article-laptop > article {
      border-radius: 0; }
      .chess-article-laptop > article > img {
        width: 70px;
        height: 120px; }
      .chess-article-laptop > article > div > p {
        padding-bottom: 40px;
        padding-top: 25px; }
  .main-button.lessons {
    display: flex;
    justify-content: center; }
    .main-button.lessons > button:nth-child(1),
    .main-button.lessons > button:nth-child(2) {
      margin-right: 0;
      margin-left: 0; }
    .main-button.lessons > button {
      border: none;
      width: 45%;
      text-align: center;
      border-radius: 25px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-image: var(--button-background);
      font-family: 'Lobster', cursive;
      padding: 15px 3px; }
      .main-button.lessons > button:nth-child(1) {
        border-top-right-radius: 0; }
      .main-button.lessons > button:nth-child(2) {
        border-top-left-radius: 0; }
      .main-button.lessons > button > a {
        font-size: 1.2rem;
        font-weight: 800;
        text-decoration: none;
        color: goldenrod;
        letter-spacing: 4px; } }

@media all and (max-width: 400px) {
  .articles.additional > article {
    height: 500px; }
    .articles.additional > article > img {
      width: 18%;
      height: 80px; }
    .articles.additional > article > .height {
      padding-top: 0; } }

.contacts {
  background-image: var(--main-background);
  text-align: center;
  margin: 0 auto; }
  .contacts > header {
    font-size: var(--font-size-article-tablet);
    width: 80%;
    margin: 0 auto;
    text-align: center; }
  .contacts > article {
    float: left;
    width: 43%;
    padding-left: 25px; }
    .contacts > article > div > img {
      width: 100%; }

.contacts-area {
  display: inline-block;
  background: url("open-spiral-notebook-1405082_960_720.png");
  background-size: cover;
  padding: 45px 30px 0 65px;
  height: 472px;
  justify-content: left; }
  .contacts-area > label {
    min-width: 50px;
    text-align: right; }
  .contacts-area > .email {
    display: block; }
    .contacts-area > .email > label {
      padding-right: 18px; }
  .contacts-area > .subject {
    display: block; }
  .contacts-area > .textarea > textarea {
    height: 200px;
    margin-top: 20px;
    width: 90%; }
  .contacts-area > .submit > button {
    margin: 0 auto;
    border: none;
    text-align: center;
    border-radius: 25px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: var(--button-background);
    margin-top: 20px;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: 1.2rem;
    font-weight: 800;
    color: goldenrod;
    letter-spacing: 4px;
    padding: 10px 30px;
    width: 55%; }
  .contacts-area > div > input {
    width: 75%;
    margin-top: 20px;
    padding: 3px 0; }
  .contacts-area > img {
    position: relative;
    top: -250px;
    left: 130px;
    width: 35%; }
  .contacts-area > div:nth-child(1) {
    font-size: 24px;
    color: black;
    font-weight: 900;
    font-style: oblique; }

.hours-mobile {
  display: none; }

.calendar {
  width: 55%;
  float: right;
  padding-right: 15px;
  margin-top: 30px; }
  .calendar > ul {
    list-style-type: none;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr); }
    .calendar > ul > .first {
      grid-column: span 7;
      text-align: center;
      font-size: 24px;
      color: #ce2222;
      font-weight: 900; }
    .calendar > ul > li {
      border: 1px solid black;
      text-align: center;
      font-size: 16px;
      padding: 1px; }

@media all and (max-width: 800px) {
  .contacts > article {
    width: 90%;
    display: block; }
    .contacts > article > div {
      text-align: center; }
      .contacts > article > div > img {
        width: 90%; }
  .calendar {
    width: 80%;
    padding-right: 200px; } }

@media all and (max-width: 640px) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 370px; }
    .contacts > article {
      margin-left: 25px; }
    .contacts > header {
      margin-top: -300px; }
  .contacts-area {
    margin: 20px 30px 20px 20px;
    padding: 30px 30px 30px 70px;
    height: 456px;
    width: 90%; }
  .calendar {
    display: none; }
  .hours-mobile {
    display: block;
    width: 65%; }
    .hours-mobile > ul {
      margin: 20px;
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(2, 80%);
      grid-template-rows: repeat(8, 1fr); }
      .hours-mobile > ul > li {
        border: 1px solid black;
        text-align: center;
        font-size: 19px;
        padding: 5px; }
        .hours-mobile > ul > li:nth-child(odd) {
          grid-column: span 1; }
        .hours-mobile > ul > li:nth-child(even) {
          grid-column: span 1; }
        .hours-mobile > ul > li.first-row {
          grid-column: span 2;
          text-align: center;
          font-size: 24px;
          color: #ce2222;
          font-weight: 900;
          padding: 5px; } }

@media all and (max-width: 480px) {
  .contacts-area {
    height: 515px;
    padding-right: 40px; }
    .contacts-area > div:nth-child(1) {
      padding-bottom: 10px; }
    .contacts-area > div > label {
      display: block; }
    .contacts-area > img {
      top: -220px;
      left: 90px;
      width: 45%; }
    .contacts-area > .submit > button {
      font-size: 14px;
      width: 100%;
      margin-top: 26px;
      padding: 10px 10px; }
    .contacts-area > div > input {
      margin-top: 0; }
    .contacts-area > .textarea > textarea {
      height: 240px;
      width: 90%; }
    .contacts-area > .email {
      margin-bottom: 5px; } }

@media all and (max-width: 320px) {
  .contacts-area > img {
    display: none; } }
