@mixin home-page-animation{
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    opacity: 0;
}

@mixin home-transform-first-step{
    transform: translateX(-330px) translateY(-460px);
}

@mixin lessons-animation{
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.img-1 { 
    animation: first ease 1.8s; 
    animation-delay: 3s;
    @include home-page-animation
} 

.img-2 { 
    animation: second ease 1.8s;  
    animation-delay: 2s;
    @include home-page-animation
} 

.img-3 { 
    animation: third ease 1.8s; 
    animation-delay: 1s;
    @include home-page-animation
} 

.img-4 { 
    animation: forth ease 1.8s; 
    @include home-page-animation
}

@keyframes first { 
    0% { 
       @include home-transform-first-step 
    } 
    100% { 
        transform: translateX(-40px) translateY(-200px);
        opacity: 1;
     } 
} 

@keyframes second { 
    0% { 
        @include home-transform-first-step
    } 
    100% { 
        transform: translateX(10px) translateY(-200px);
        opacity: 1;
     } 
}

@keyframes third { 
    0% { 
        @include home-transform-first-step
    } 
    100% { 
        transform: translateX(60px) translateY(-200px);
        opacity: 1;
     } 
} 

@keyframes forth { 
    0% { 
        @include home-transform-first-step
    } 
    100% { 
        transform: translateX(110px) translateY(-200px);
        opacity: 1;
     } 
} 

/***RETURN STATE***/
@keyframes out{
    to {transform: translateY(0);}
}

.bishop,
.king,
.queen,
.rook,
.pawn,
.knight{
    animation: out 2s;
}

/*********Knight********/
.knight:target,
.knight:active,
.knight:focus,
.knight:hover{
    animation-name: knight-in;
    @include lessons-animation
}

@keyframes knight-in{
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateY(-40px);
    }
    20%{
        transform: translateY(-40px) translateX(60px);
    }
    30%{
        transform: translateY(-40px) translateX(0);
    }
    40%{
        transform: translateX(0);
    }
    50%{
        transform: translateY(-40px);
    }
    60%{
        transform: translateY(-40px) translateX(-60px);
    }
    70%{
        transform: translateY(-40px) translateX(0);
    }
    80%{
        transform: translateX(0);
    }
}

/*********Pawn*********************/
.pawn:target,
.pawn:active,
.pawn:focus,
.pawn:hover{
    animation-name: pawn-in;
    @include lessons-animation
}

@keyframes pawn-in{
    0%{
        transform: translateX(0);
    }
    15%{
        transform: translateY(-40px);
    }
    30%{
        transform: translateY(0);
    }
    45%{
        transform: translateY(-40px) translateX(60px);
    }
    60%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(-40px) translateX(-60px);
    }
    100%{
        transform: translateY(0);
    }
}

/****************Rook********************/
.rook:target,
.rook:active,
.rook:focus,
.rook:hover{
    animation-name: rook-in;
    @include lessons-animation
}

@keyframes rook-in{
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateY(-40px);
    }
    35%{
        transform: translateY(0);
    }
    50%{
        transform: translateX(40px);
    }
    65%{
        transform: translateX(0);
    }
    80%{
        transform: translateX(-40px);
    }
    100%{
        transform: translateX(0);
    }
}

/****************Queen********************/
.queen:target,
.queen:active,
.queen:focus,
.queen:hover{
    animation-name: queen-in;
    animation-duration: 6.5s;
    animation-iteration-count: infinite;
}

@keyframes queen-in{
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateY(-40px);
    }
    20%{
        transform: translateY(0);
    }


    30%{
        transform: translateX(40px);
    }
    40%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-40px);
    }
    60%{
        transform: translateX(0);
    }

    70%{
        transform: translateY(-40px) translateX(60px);
    }
    80%{
        transform: translateY(0);
    }
    90%{
        transform: translateY(-40px) translateX(-60px);
    }
    100%{
        transform: translateY(0);
    }

    
}

/****************King********************/
.king:target,
.king:active,
.king:focus,
.king:hover{
    animation-name: king-in;
    @include lessons-animation
}

@keyframes king-in{
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(-40px);
    }
    20%{
        transform: translateX(0);
    }
    30%{
        transform: translateY(-40px) translateX(-40px);
    }
    40%{
        transform: translateX(0);
    }
    50%{
        transform: translateY(-40px) translateX(0);
    }
    60%{
        transform: translateX(0);
    }
    70%{
        transform: translateY(-40px) translateX(40px);
    }
    80%{
        transform: translateX(0);
    }
    90%{
        transform: translateY(0) translateX(40px);
    }
    100%{
        transform: translateX(0);
    }
}

/****************Bishop********************/
.bishop:target,
.bishop:active,
.bishop:focus,
.bishop:hover{
    animation-name: bishop-in;
   @include lessons-animation
}

@keyframes bishop-in{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateY(-40px) translateX(50px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateY(-40px) translateX(-50px);
    }
    100%{
        transform: translateX(0);
    }
}

/****************Pen********************/
.pencil:hover{
    animation-name: pencil;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes pencil{
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateY(-16px) translateX(8px);
    }
    30%{
        transform: translateY(12px) translateX(14px);
    }
    40%{
        transform: translateY(-7px) translateX(20px);
    }
    50%{
        transform: translateY(7px) translateX(26px);
    }
    60%{
        transform: translateY(-7px) translateX(32px);
    }
    70%{
        transform: translateY(7px) translateX(38px);
    }
    80%{
        transform: translateY(-10px) translateX(15px);
    }
    90%{
        transform: translateY(16px);
    }
    100%{
        transform: translateX(0);
    }
}
