/**posts.html**/
body{
    background:  var(--main-background);
    font-size: 18px;
}

.post-title{
    padding: 30px 0;
    & > h2{
    text-align: center;
    color: goldenrod;
    text-shadow: 1px 4px 3px rgba(0,0,0,0.6);
    font-size: 3rem;
    font-weight: 900;
    }
}

.post-content{
width: 80%;
margin: 0 auto;
font-size: 20px;
    & > p{
        text-align: justify;
        & > .post-content{
           margin: 20px;
        }
        &:nth-child(3){
            margin: 20px;
        }
        & > .image-left {
            display: block;
            float: right;
            width: 40%;
            margin-left: 30px;
            margin-bottom: 30px;
        }
        & > .image-left-side {
            display: block;
            float: right;
            width: 20%;
            margin-left: 30px;
            margin-bottom: 30px;
        }
    }
    & > ul {
        list-style-type: none;
        padding-left: 0;
    }
}
     .link{
        width: 30%;
        text-align: center;
        border-radius: 25px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-image: var(--button-background);
        font-family: 'Lobster', cursive;
        padding: 15px 3px;
        margin: auto;
        margin-top: 20px;
        & > a{
        font-size: 1.2rem;
        font-weight: 800;
        text-decoration: none;
        color: goldenrod;
        letter-spacing: 4px;
        display:inline-block;
        width:100%;
        height:100%;
        }
    }



@media all and (max-width: 800px){
    .post-title{
        & > h2{
        font-size: 20px;
        }
    }

    .post-content{
        & > p{
            text-align: left;
            & > .image-left {
            display: block;
            float: none;
            width: 80%;
            margin: auto;
            margin-bottom: 30px;
            }
            .link{
                width: 70%;
                margin: auto;
            }
        }
    }
}

/**blog.html**/
.blog{
    margin-top: 35px;
    padding: 0 40px;
    padding-bottom: 0;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 15% 15% 20% 20% 26%;
    grid-template-rows: repeat(70, 1%);
    grid-gap: 9px 20px;
    justify-content: center;
    & > article {
        & > a{
        color: black;
        font-weight: bold;
        font-style: italic;
        font-size: 16px;
        }
    }
}

/*first row*/
.background{
    grid-column: 1 / 3;
    grid-row: 1/15;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -10;
        opacity: 0.15;
}

.posts-list{
    grid-column: 1 / 3;
    grid-row: 1/10;
    margin: auto;
}

.posts-list > ul{
    padding-top: 5px;
    list-style: circle;
    font-style: oblique;
    & > li> a {
        color: black;
        font-weight: 900;
        font-size: 16px;
    }
}

.temp{
    grid-column: 1 / 3;
    grid-row: 13/26;
    & > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.mat{
    grid-column: 1 / 3;
    grid-row: 30/40;
    & > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.value{
    grid-column: 1 / 3;
    grid-row: 45/56;
    & > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/*second row*/
.game{
    grid-column: 3 / span 2;
    grid-row: 2/13;
    & > img{
        width: 100%;
        height: 70%;
        object-fit: cover;
    }
}

.tactic{
    grid-column: 3 / span 2;
    grid-row: 16/24;
    & > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.activity{
    grid-column: 3 / span 2;
    grid-row: 29/38;
    & > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.structure{
    grid-column: 3 / span 2;
    grid-row: 43/51;
    & > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.tournaments{
    grid-column: 5/6;
    grid-row: 1/10;
    & > img{
        width: 100%;
    }
}

.notation{
    grid-column: 5/6;
    grid-row: 12/23;
    & > img{
        width: 100%;
    }
}

.material{
    grid-column: 5/6;
    grid-row: 23/34;
    & > img{
        width: 100%;
    }
}

.plan{
    grid-column: 5/6;
    grid-row: 34/44;
    & > img{
        width: 100%;
        object-fit: cover;
    }
}

.position{
    grid-column: 5/6;
    grid-row: 44/54;
    & > img{
        width: 100%;
        object-fit: cover;
    }
}

.posts-ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
    list-style-type: none;
    grid-column: 1/4;
    grid-row: 80/95;
    & > img{
        width: 100%;
        object-fit: cover;
    }
    & > li{
        color: black;
        font-size: 20px;
        margin: 10px;
        &:first-child{
            text-decoration: none;
        }
    }
}


@media all and (max-width: 640px){
    body{
        background:  var(--main-background);
        font-size: 16px;
    }

    .blogs{
        display: grid;
        grid-template-columns: 60% 40% 0 0 0;
        grid-template-rows: repeat(70, 1%);
        grid-gap: 7px 20px;
        justify-content: center;
        margin-left: 30px;
        margin-right: 0;
        padding-right: 0;
    }

.background{
    grid-column: 1 / 1;
    grid-row: 1/14;
}

.posts-list{
    grid-column: 1/1;
    grid-row: 1/13;
}

.value{
    grid-column: 1 / 1;
    grid-row: 12/19;
}

.material{
    grid-column: 1/1;
    grid-row: 23/30;
}

.position{
    grid-column: 1/1;
    grid-row: 32/36;
}

.mat{
    grid-column: 1 / 1;
    grid-row: 47/52;
}

.plan{
    grid-column: 1/1;
    grid-row: 55/60;
}


/*second row*/

.tournaments{
    grid-column: 2/2;
    grid-row: 1/10;
}    

.game{
    grid-column: 2 / 2;
    grid-row: 9/12;
}    

.tactic{
    grid-column: 2 / 2;
    grid-row: 17/20;
}

.activity{
    grid-column: 2 / 2;
    grid-row: 26/31;
}

.structure{
    grid-column: 2 / 2;
    grid-row: 36/40;
}

.temp{
    grid-column: 2 / span 2;
    grid-row: 47/54;
}

.notation{
    grid-column: 2/2;
    grid-row: 57/62;
}
}

@media all and (max-width: 480px){
    .blog-articles{
        & > p{
            display: none;
        }
        & > h3{
            font-size: 16px;
            word-wrap: break-word;
        }
    }
}