.contacts {
    background-image: var(--main-background);
}

.contacts-image{
    margin-right: 150px;
    padding-top: 150px;
    width: 10%;
    margin-left: auto;
}

.contacts-image>img{
    width: 100%;
}