.contacts {
    background-image: var(--main-background);
    text-align: center;
    margin: 0 auto;
    & > header{
        font-size: var(--font-size-article-tablet);
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    & > article{
        float: left;
        width: 43%;
        padding-left: 25px;
        & > div {
            & > img{
                width: 100%;
            }
        }
    }
}

.contacts-area{
    display: inline-block;
    background: url("../images/open-spiral-notebook-1405082_960_720.png");
    background-size: cover;
    padding: 45px 30px 0 65px;
    height: 472px;
    justify-content: left; 
    & > label {
        min-width: 50px;
        text-align: right;
    }
    & > .email{
        display: block;
        & > label{ 
            padding-right: 18px;
        }
    }
    & > .subject{
        display: block;
    }
    & > .textarea{
        & > textarea{
            height: 200px; 
            margin-top: 20px;
            width: 90%;
        }
    }
    & > .submit{
        & > button {
        margin: 0 auto;
        border: none;
        text-align: center;
        border-radius: 25px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-image: var(--button-background);
        margin-top: 20px;
        text-decoration: none;
        font-family: 'Lobster', cursive;
        font-size: 1.2rem;
        font-weight: 800;
        color: goldenrod;
        letter-spacing: 4px;
        padding: 10px 30px;
        width: 55%;
        }
    }
    & > div > input{
        width: 75%;
        margin-top: 20px;
        padding: 3px 0;
    }
    & > img{
        position: relative;
        top: -250px;
        left: 130px;
        width: 35%;
    }
    & > div:nth-child(1) {
        font-size: 24px; 
        color: black;
        font-weight: 900;
        font-style: oblique;
    }
}

.hours-mobile{
    display: none;
}

.calendar{ 
    width: 55%;
    float: right;
    padding-right: 15px;
    margin-top: 30px;
    & > ul{
    list-style-type: none;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
        &>.first{
            grid-column: span 7;
            text-align: center;
            font-size: 24px; 
            color: rgb(206, 34, 34);
            font-weight: 900;
        }
        &>li{
            border: 1px solid black;
            text-align: center;
            font-size: 16px;
            padding: 1px;
        }
    }
}



@media all and (max-width: 800px){
    .contacts {
        display: block;
        margin: auto;
        & > article{
            width: 90%;
            display: block;
            & > div {
                text-align: center;
                & > img{
                    width: 90%;
                }
            }
        }
    }

    .calendar{ 
        width: 80%;
        padding-right: 200px;
    }
}

 @media all and (max-width: 640px){
    .contacts{
        padding-top: 370px;
        & > article{
            margin-left: 25px;
        }
        & > header{
        margin-top: -300px;
        }
    }

    .contacts-area{
        margin: 20px 30px 20px 20px;
        padding: 30px 30px 30px 70px;
        height: 456px;
        width: 90%;
    }
 
    .calendar{
        display: none;
    }

    .hours-mobile{ 
        display: grid;
        width: 65%;
        & > ul{
        margin: 20px;
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(2, 80%);
        grid-template-rows: repeat(8, 1fr);
            &>li{
                border: 1px solid black;
                text-align: center;
                font-size: 19px;
                padding: 5px;
                &:nth-child(odd){
                    grid-column: span 1;
                }
                &:nth-child(even){
                    grid-column: span 1;
                }
                &.first-row {
                    grid-column: span 2;
                    text-align: center;
                    font-size: 24px; 
                    color: rgb(206, 34, 34);
                    font-weight: 900;
                    padding: 5px;
                }
            }
        }
    }
}

@media all and (max-width: 480px){
    .contacts-area {
        height: 515px;
        padding-right: 40px;
        width: 65%;
        margin: 0 auto;
        & > div:nth-child(1) {
            padding-bottom: 10px;
        }
        & > div{
            & > label{
                display: block;
            }
        }
        & > img {
            top: -220px;
            left: 90px;
            width: 45%;
        }
        & > .submit{
            & > button{
            font-size: 14px;
            width: 100%;
            margin-top: 26px;
            padding: 10px 10px;
            }
        }
        & > div > input{
            margin-top: 0;
        }
        & > .textarea{
            & > textarea{
                height: 240px; 
                width: 90%;
            }
        }
        & > .email{
            margin-bottom: 5px;
        }
    }
}

@media all and (max-width: 320px){
    .contacts-area {
        & > img {
            display: none;
        }
    }
}
