.contacts {
    display: flex;
    flex-wrap: wrap;
    background-image: var(--main-background);
    text-align: center;
    margin: 0 auto;
    padding: 25px 5px;
    justify-content: center;
    & > header{
        font-size: 26px;
        font-style: italic;
        color: #065296;
        font-weight: 600;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    & > article{
        display: inline-block;
        width: 30%;
        margin-right: 10px;
        margin-left: 20px;
        margin-top: 50px;
        & > div {
            & > img{
                width: 100%;
            }
        }
    }
}

.calendar{ 
    display: inline-block;
    padding-right: 15px;
    margin-top: 50px;
    & > ul{
    list-style-type: none;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(7, 70px);
    grid-template-rows: 75px 50px 50px;
        &>.first{
            grid-column: span 7;
            text-align: center;
            padding-top: 20px;
            font-size: 24px; 
            color: rgb(206, 34, 34);
            font-weight: 900;
        }
        &>li{
            word-wrap: break-word;
            border: 1px solid black;
            text-align: center;
            font-size: 16px;
            padding: 1px;
            font-weight: bold;
        }
    }
}

.contacts-area{
    display: inline-block;
    width: 700px;
    background: url("../images/Notebook.png");
    background-size: cover;
    padding: 45px 30px 0 65px;
    height: 550px;
    margin-top: 10px;
    & > label {
        min-width: 50px;
        text-align: right;
    }
    & > .email{
        display: block;
        & > label{ 
            padding-right: 18px;
        }
    }
    & > .subject{
        display: block;
    }
    & > .textarea{
        & > textarea{
            height: 232px; 
            margin-top: 20px;
            width: 85%;
        }
    }
    & > .submit{
        & > button {
        margin: 0 auto;
        border: none;
        text-align: center;
        border-radius: 25px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-image: var(--button-background);
        margin-top: 62px;
        text-decoration: none;
        font-family: 'Lobster', cursive;
        font-size: 1.2rem;
        font-weight: 800;
        color: goldenrod;
        letter-spacing: 4px;
        padding: 10px 30px;
        width: 55%;
        }
    }
    & > div > input{
        width: 75%;
        margin-top: 20px;
        padding: 3px 0;
    }
    & > img{
        position: relative;
        top: -350px;
        left: 190px;
        width: 35%;
    }
    & > div:nth-child(1) {
        font-size: 24px; 
        color: black;
        font-weight: 900;
        font-style: oblique;
    }
}

.hours-mobile{
    display: none;
}

@media all and (max-width: 800px){
    .contacts {
        display: block;
        margin: auto;
        height: 1560px;
        & > article{
            width: 90%;
            display: block;
            & > div {
                text-align: center;
                & > img{
                    width: 90%;
                }
            }
        }
    }

    .calendar{ 
        & > ul{
            grid-template-columns: repeat(7, 90px);
        }
    }

    .calendar{ 
        width: 100%;
        margin: 30px auto;
    }

    article > div > img {
        width: 75%;
    }

    .contacts-area{
        display: inline-block;
        width: 80%;
        margin: 0 auto;
        & > .textarea{
            & > textarea{
                width: 90%;
            }
        }
    }
}

 @media all and (max-width: 640px){
    .contacts {
        & > header{
            font-size: 20px;
        }
    }

    .contacts{
        margin: auto;
        padding-top: 370px;
        & > article{
            margin-left: 25px;
        }
        & > header{
        margin-top: -300px;
        }
    }

    .contacts-area{
        margin: 20px 30px 20px 20px;
        padding: 30px 30px 30px 70px;
        height: 490px;
        width: 80%;
        & > .submit{
            & > button {
                margin-top: 20px;
            }
        }
        & > .textarea > textarea {
            width: 90%;
        }
    }

    .contacts-area {
        & > img {
            display: none;
        }
    }
 
    .calendar{
        display: none;
    }

    .hours-mobile{ 
        display: grid;
        width: 65%;
        margin-left: 30px;
        & > ul{
        margin: 20px;
        list-style-type: none;
        display: grid;
        grid-template-columns: 70% 70%;
        grid-template-rows: repeat(8, 1fr);
            &>li{
                border: 1px solid black;
                text-align: center;
                font-size: 19px;
                padding: 5px;
                &:nth-child(odd){
                    grid-column: span 1;
                }
                &:nth-child(even){
                    grid-column: span 1;
                }
                &.first-row {
                    grid-column: span 2;
                    text-align: center;
                    font-size: 24px; 
                    color: rgb(206, 34, 34);
                    font-weight: 900;
                    padding: 5px;
                }
            }
        }
    }
    
}

@media all and (max-width: 500px){
    .contacts {
        height: 1580px;
    }

    .contacts-area {
        height: 515px;
        padding-right: 40px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10px;
        & > div:nth-child(1) {
            padding-bottom: 10px;
        }
        & > div{
            & > label{
                display: block;
            }
        }
        & > img {
            top: -220px;
            left: 90px;
            width: 45%;
        }
        & > .submit{
            & > button{
            font-size: 14px;
            width: 100%;
            margin-top: 26px;
            padding: 10px 10px;
            }
        }
        & > div > input{
            margin-top: 0;
        }
        & > .textarea{
            & > textarea{
                height: 240px; 
                width: 90%;
            }
        }
        & > .email{
            margin-bottom: 5px;
        }
    }
}

@media all and (max-width: 320px){
    .hours-mobile{ 
        margin-left: 0;
    }
}
