@media all and (max-width: 800px) {
    .wrapper > img {
        height: 420px;
    }

    .main>h1,
    .home-main,
    .site-header{
        display: none;
    }

    .additional>.site-nav{
        display: block;
    }

    .additional>h1{
        display: block;
        background: #3C4042;
        padding-top: 20px;
    }

    .additional{
        display: block;
        margin: auto;
        & > .site-nav {
            margin: auto;
            & > ul{
                flex-direction: column;
                padding-bottom: 5px;
                padding-top: 5px;
                & > li{
                    margin: 0;
                    padding: 5px 3px;
                    border-bottom: none;
                    text-align: center;
                    & > a{
                        border-bottom: 3px solid black;
                        margin: 0;
                        width: 50%;
                        font-size: 28px;
                        display:inline-block;
                        width:80%;
                        height:100%;
                    }
                }
            }
        }
     }

    .second-home-main {
        display: block;
        background-image: var(--index-page-background);
    }

    .second-home-main > main{
        padding-top: 0;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 445px);
        grid-gap: 5px;
        & > article {
            border: 1px solid black;
            border-radius: 20px;
            overflow: hidden;
            background: white;
            & > .img > img{
                width: 100%;
                height: 200px;
            }
            & > .txt {
            height: 100px;
                & > p{
                font-size: var(--font-size-article-tablet, 14px);
                padding-left: 20px;
                }
            }
            & > .main-button {
                display: block; 
                margin-top: 80px;
                text-align: center;
                & > button{
                width: 70%;
                text-align: center;
                border-radius: 25px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                background-image: var(--button-background);
                font-family: 'Lobster', cursive;
                padding: 15px 3px;
                & > a{
                    font-size: 1.2rem;
                    font-weight: 800;
                    text-decoration: none;
                    color: goldenrod;
                    letter-spacing: 4px;
                    display:inline-block;
                    width:100%;
                    height:100%;
               }
            }
        }
    }
} 

}
@media all and (max-width: 640px){
    .additional>.site-nav > ul > li > a{
        font-size: 30px;     
    }
    .wrapper > img {
        height: 320px;
    }
}

@media all and (max-width: 480px) {
    .second-home-main > main {
        display: block;
        & > article{
            border-radius: 0;
            border: 1px solid black; 
            width: 99%;
            & > img{
                height: 210px;
            }
        }
    }

    .site-header>h1 {
        display: inline;
        margin: auto;
        bottom: -17rem;
        font-size: 2.5rem;
    }
}

@media all and (max-width: 380px) {
    .additional>h1 {
        font-size: 2.6rem;
    }
    .wrapper > img {
        height: 240px;
    }
}

@media all and (max-width: 275px) {
    .additional>h1 {
        font-size: 2.1rem;
    }
}

@media all and (min-width: 1440px) {
    .wrapper > img {
        height: 800px;
    }

    h1{
        font-size: 60px;
    }

    .second-home-main,
    .additional>h1{
        display: none;
    }
}