@media all and (min-width: 1440px){
    .lessons{
        background-image: var(--main-background);
    }
    
    .chess-article-laptop{
        display: none;
    }
    
    header{
       display: block;
    }
    
    .articles {
        padding-top: 70px;
        justify-content: center;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 25%);
        grid-template-rows: repeat(2, 700px);
        grid-gap: 35px;
        font-size: 1.8rem;
        & > article>p{
            font-size: 2rem;
        }
        &>article>img{
            width: 30%;
            height: 25%;
        }
        &-additional{
            display: none;
        }
    }
    
    .main-button{
        display: none;
    }
}
    
@media all and (max-width: 1440px){
.lessons{
    background-image: var(--main-background);
}

.chess-article-laptop{
    display: none;
}

header{
   display: block;
}

.articles {
    padding-top: 70px;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(2, 300px);
    grid-gap: 35px;
    font-size: 1rem;
    & > article>p{
        font-size: 1.2rem;
    }
    &>article>img{
        width: 17%;
        height: 30%;
    }
    &-additional{
        display: none;
    }
}

.main-button{
    display: none;
}
}

@include bp(laptop){
    .additional>h1,
    .additional > .site-nav {
        display: block;
    }

    .articles>article>img{
        width: 20%; 
    }
}

@include bp(laptop-mobile){
    .articles{
        display: none;
    }

    .additional-buttons{
        display: none;
    }

    .chess-article-laptop{
    padding-top: 0;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 430px);
    grid-gap: 5px;
    & > article{
        border: 1px solid black;
        border-radius: 20px;
        overflow: hidden;
        padding-top: 70px;
        &>div{
            padding-top: 10px;
            & > p{
                margin: 20px 20px;
                justify-content: center;
                font-size: var(--font-size-article-tablet, 14px);
            }
        }
        &>img{
            width: 16%;
            height: 22%;
        }
    }
}
}

@include bp(gsm){
    .chess-article-laptop{
        display: block;
        & > article{
            border-radius: 0;
            & > img{
                width: 70px;
                height: 120px;
            }
            & > div > p{
                padding-bottom: 40px;
                padding-top: 25px;
            }
        }
    }
    
    .main-button.lessons{ 
        display: flex;
        justify-content: center;
        & > button:nth-child(1),
        & > button:nth-child(2){
            margin-right: 0;
            margin-left: 0;
        }
        & > button{
            border: none;
            width: 45%;
                text-align: center;
                border-radius: 25px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                background-image: var(--button-background);
                font-family: 'Lobster', cursive;
                padding: 15px 3px;
            &:nth-child(1){
                border-top-right-radius: 0;
            }
            &:nth-child(2){
                border-top-left-radius: 0;
            }
            & > a{
                font-size: 1.2rem;
                font-weight: 800;
                text-decoration: none;
                color: goldenrod;
                letter-spacing: 4px;
                display:inline-block;
                width:100%;
                height:100%;
            }
        }
    } 
}

@media all and (max-width: 400px){
    .articles.additional{ 
        & > article{
            height: 500px; 
            & > img{
                width: 18%;
                height: 80px;
            }
            & > .height {
                padding-top: 0;
               
            }
        }
    }
}

