body{
     --font-size-article-tablet: 18px;
     --font-size-article-pc: 1.2rem;
     --main-background: radial-gradient(circle, #9aa0aa, #a3a8b0, #acb0b7, #b5b8bd, #bec0c4);
     --index-page-background: radial-gradient(circle, #222627, #2e3233, #3b3f40, #484c4d, #55595b);
     --button-background: linear-gradient(to right bottom, #393838, #504f4f, #696767, #828181, #9d9b9b);
} 
