@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Cormorant+Garamond|Lobster|Pacifico|Pattaya&display=swap');

@import 'reset';
@import 'mixins';
@import 'variables';
@import 'animation';
@import 'home-main';
@import 'home-main-tablet';
@import 'lessons';
@import 'contacts';

@media all and (max-width: 480px) {
    .wrapper>img {
        padding-top: 60px;
    }

    .second-home-main > main {
        display: block;
        & > article{
            border-radius: 0;
            border: 1px solid black; 
            width: 99%;
            & > img{
                width: 100%;
                height: 210px;
            }
        }
    }

    .main-button{
        display: block;
    }

    .main-button>button>a{
        @include button-a
    }

    .site-header>h1 {
        display: inline;
        margin: auto;
        bottom: -17rem;
        font-size: 2.5rem;
    }
}

@media all and (max-width: 380px) {
    .additional>h1 {
        font-size: 2.8rem;
        margin-top: -75px;
        margin-bottom: 15px;
    }
}

@media all and (max-width: 275px) {
    .additional>h1 {
        font-size: 2.1rem;
    }
}
